@use '../partials/variables.scss' as v;
.sidebar {

    @media all and (max-width: 768px) {
        margin-top: 20px;
    }

    .title {
        padding-bottom: 10px;
        border-bottom: 1px solid #9091924a;
        h3 {
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    .list_new {
        margin-left: 12px;
        .new_item {
            padding: 16px 0;
            border-bottom: 1px solid #9091924a;
            cursor: pointer;
            &:hover {
                .new_title {
                    a {
                        color: v.$light-green;
                    }
                }
            }
            .new_image {
                padding-left: 0;
                img {
                    width: 95%;
                    max-width: 110px;
                }
            }

            .new_title {
                line-height: 1.4rem;
                padding-left: 0;
                a {
                    font-weight: 500;
                    font-size: 1.1rem;
                    color: v.$black;
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }

                @media all and (min-width: 768px) and (max-width: 960px) {
                    a {
                        -webkit-line-clamp: 1;
                    }

                }

                .description {
                    
                    display: none;

                    @media all and (min-width: 576px) and (max-width: 960px) {
                        font-size: 0.8rem;
                        line-height: 1rem;
                        color: v.$gray;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        
                        p,h2,h3,h1,h4,h5 {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }
                        strong {
                            font-weight: normal;
                        }

    
                    }


                }
            }
        }
    }


    .best_new {
        margin-top: 30px;
    }
}