.new_card {
    .card_content {
        text-align: left;
        padding: 0 7px;

        .name {
            padding: 15px 0;
           h5 {
            font-size: 1.4rem;
            // font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            transition: all 0.3s ease-in-out;
           }

           .description {
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            p,h2,h3,h1,h4,h5 {
                font-size: 1rem;
                line-height: 1.3rem;
            }
            strong {
                font-weight: normal;
            }
           }
        }
    }
}