@use '../partials/variables.scss' as v;

.checkout {

    padding: 1.5rem 1rem;

    .title {
        display: flex;
        gap: 1rem;
        color: v.$light-green;

        .icon {
            width: 3rem;
            height: 2rem;
        }

        h3 {
            border-bottom: 3px solid v.$dark-green;
        }
    }

    .list_bank {
        padding: .5rem 0;

        img {
            max-width: 155px;
            height: 30px;
            object-fit: cover;
            margin-left: 12px;
        }

        .info_bank {
            padding-left: 2.5rem;
        }
    }

    .right {
        // background: v.$gray 60%;

        .info_cart {
            background: v.$white;
            box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 5%);
            border-radius: .5rem;
            padding: 1.5rem 1.5rem 2rem;

            .info__title {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: .75rem;

                .info__image {
                    width: 350px;
                    height: 150px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: .25rem;
                    }
                }
            }

            .info__details {
                margin: 1rem 0;
                font-size: 16px;

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    svg {
                        color: v.$light-green;
                    }

                    p {
                        margin-left: .5rem;
                        font-size: 14px;
                    }
                }
            }

            .total {
                border-top: 1px solid v.$gray;
                padding: 1rem 0;
                font-weight: bold;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}