// COLOR 
$white: #ffffff;
$black: #212529;
$light-green: #85C240;
$dark-green: #198754;
$orange: #F0803C;
$gray: #909192;
$gradient-gray: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #C2C9D1;
$red: #FF0000;

// FONT-SIZE
$big-font-size: 2.2rem;